<div class="footer-categories">
  <div class="footer-categories__one-column">
    <h3 class="footer-categories__heading">Your pension details</h3>
    <ul class="footer-categories__list">
      <li><a href="/pension-types">Know your pension type</a></li>
      <li><a href="/pension-pot-value">Know your pension value</a></li>
      <li><a href="/understand-your-statement">Understand your pension statement</a></li>
      <li><a href="/state-pension">The State Pension</a></li>
    </ul>
  </div>
  <div class="footer-categories__two-column t-article-links">
    <h3 class="footer-categories__heading">Taking your pension money</h3>
    <ul class="footer-categories__list">
      <li><a href="/leave-pot-untouched">Leave your pot untouched</a></li>
      <li><a href="/guaranteed-income">Get a guaranteed income (annuity)</a></li>
      <li><a href="/adjustable-income">Get an adjustable income</a></li>
      <li><a href="/take-cash-in-chunks">Take cash in chunks</a></li>
      <li><a href="/take-whole-pot">Take your whole pot</a></li>
      <li><a href="/mix-options">Mix your options</a></li>
    </ul>
    <ul class="footer-categories__list">
      <li><a href="/combine-pension-pots">Combine different pension pots</a></li>
      <li><a href="/shop-around">Shop around and compare providers</a></li>
      <li><a href="/making-money-last">Making your money last</a></li>
      <li><a href="/work-out-income">Work out what you’ll have in retirement</a></li>
      <li><a href="/scams">Avoiding scams</a></li>
    </ul>
  </div>
  <div class="footer-categories__one-column">
    <h3 class="footer-categories__heading">Tax and getting advice</h3>
    <ul class="footer-categories__list">
      <li><a href="/tax">Tax on your pension money</a></li>
      <li><a href="/seeing-financial-adviser">Seeing a financial adviser</a></li>
      <li><a href="/benefits">Benefits entitlement</a></li>
      <li><a href="/debt">Debt</a></li>
    </ul>
  </div>
  <div class="footer-categories__one-column">
    <h3 class="footer-categories__heading">Illness and death</h3>
    <ul class="footer-categories__list">
      <li><a href="/benefits">Ill health</a></li>
      <li><a href="/care-costs">Care costs</a></li>
      <li><a href="/when-you-die">When you die</a></li>
    </ul>
  </div>
  <div class="footer-categories__one-column">
    <h3 class="footer-categories__heading">More...</h3>
    <ul class="footer-categories__list">
      <li><a href="/living-abroad">Living abroad</a></li>
      <li><a href="/divorce">Divorce</a></li>
      <li><a href="/protection">Pension compensation</a></li>
    </ul>
  </div>
</div>
