<p>
  Based on what you’ve told us, if you take your <%= format_currency(@pot) %>
  pension pot as an annuity, you could get:

  <strong class="calculator__result__number"><%= number_to_currency(@tax_free_lump_sum, precision: 0) %> tax free</strong>

  and a:

  <strong class="calculator__result__number"><%= number_to_currency(@annuity, precision: 0) %> guaranteed annual taxable income, for the rest of your life</strong>
</p>

<h2>Things to note</h2>

<ol>
  <li>An annuity gives you a guaranteed income for a set number of years or the rest of your life</li>
  <li>You can take up to 25% of your pot tax free as cash and buy an annuity with the other 75%</li>
  <li>You pay tax on any income from an annuity – how much depends on your circumstances</li>
</ol>
