<p>
  Based on what you’ve told us, if you take your <%= format_currency(@pot) %>
  pension pot as an annuity, you could receive:

  <strong class="calculator__result__number"><%= format_currency(@tax_free_lump_sum) %> tax-free</strong>

  and a:

  <strong class="calculator__result__number"><%= format_currency(@annuity) %> guaranteed annual taxable income, for the rest of your life</strong>
</p>
