.next-steps {
  background: #f3fafe;
  position: relative;
  padding: 10px 0 1.5em 0;
  margin-bottom: 1.3em;

  ul li {
    list-style: none;
    position: relative;
    padding-bottom:0.5em;
    border-bottom: 1px solid $color-black;
    margin-bottom:0.8em;

    &:last-child {
      border-bottom: 0;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      left: -1em;
      top: 5px;
      background-color: $color-black;
    }
  }

  &:before {
    content: "";
    background: #f3fafe;
    width: 50px;
    height: 100%;
    position: absolute;
    left: -50px;
    margin-top:-10px;
  }

  &:after {
    content: "";
    background: #f3fafe;
    width: 50px;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
  }
}

.next-steps--leave-pot-untouched {
  background: transparentize($color-option-leave-pot-untouched, 0.9);

  ul li {
    border-bottom-color: transparentize($color-option-leave-pot-untouched, 0.4);
    &:before {
      background: $color-option-leave-pot-untouched;
    }
  }

  &:before,
  &:after {
    background: transparentize($color-option-leave-pot-untouched, 0.9);
  }
}
.next-steps--guaranteed-income {
  background: transparentize($color-option-guaranteed-income, 0.9);

  ul li {
    border-bottom-color: transparentize($color-option-guaranteed-income, 0.4);
    &:before {
      background: $color-option-guaranteed-income;
    }
  }

  &:before,
  &:after {
    background: transparentize($color-option-guaranteed-income, 0.9);
  }
}
.next-steps--adjustable-income {
  background: transparentize($color-option-adjustable-income, 0.8);

  ul li {
    border-bottom-color: transparentize($color-option-adjustable-income, 0.4);
    &:before {
      background: $color-option-adjustable-income;
    }
  }

  &:before,
  &:after {
    background: transparentize($color-option-adjustable-income, 0.8);
  }
}
.next-steps--take-cash-in-chunks {
  background: transparentize($color-option-take-cash, 0.9);

  ul li {
    border-bottom-color: transparentize($color-option-take-cash, 0.4);
    &:before {
      background: $color-option-take-cash;
    }
  }

  &:before,
  &:after {
    background: transparentize($color-option-take-cash, 0.9);
  }
}
.next-steps--take-whole-pot {
  background: transparentize($color-option-whole-pot, 0.9);

  ul li {
    border-bottom-color: transparentize($color-option-whole-pot, 0.4);
    &:before {
      background: $color-option-whole-pot;
    }
  }

  &:before,
  &:after {
    background: transparentize($color-option-whole-pot, 0.9);
  }
}
.next-steps--mix-options {
  background: transparentize($color-option-mix-options, 0.9);

  ul li {
    border-bottom-color: transparentize($color-option-mix-options, 0.4);
    &:before {
      background: $color-option-mix-options;
    }
  }

  &:before,
  &:after {
    background: transparentize($color-option-mix-options, 0.9);
  }
}
